@charset "UTF-8";
*{
	margin: 0 auto;	
}

div	{
	width: 300px;
	margin: 50px auto;
	position: relative;
}

#d01{
width: 300px;
height: 300px;
border: 1px solid black;	
background: yellow;
}

img {
	position: relative;
	left:0;
	width: 600px;
}